# Q.1) Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from the second.

In [ ]:
l1= [3,6,9,12,15,18,21]
l2= [4,8,12,16,20,24,28]
a = l1[1::2]
b = l2[::2]
print(a,b)
a.extend(b)
print("The total list is",a)

[6, 12, 18] [4, 12, 20, 28]
The total list is [6, 12, 18, 4, 12, 20, 28]

#QUE.2) Given a number count the total number of digits in a number

In [ ]:
n = input(" Enter the no: ")
print("The Total lenght of the character",len(n))

 Enter the no: 1232131231231
The Total lenght of the character 13

# Q.3)Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
l=[]
a = [1,32,43,5,4,23,56,40,51,59,0]
for i in a:
  if i%2!=0:
    l.append(i)
print(l)

[1, 43, 5, 23, 51, 59]

# Q.4 )Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included)

In [ ]:
#Q_4
l = []
a =int(input("Enter the 1st no: "))
b =int(input("Enter the 1st no: "))
for i in range(0,6):
  l=l+[i**2]
for i in range(6,b-6):
  l=l+[i]
for i in range(b-6,b+1):
  l=l+[i**2]
print(l)

Enter the 1st no: 1
Enter the 1st no: 30
[0, 1, 4, 9, 16, 25, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 576, 625, 676, 729, 784, 841, 900]

# Q.5) Write a Python program to generate all permutations of a list in Python.

In [ ]:
list1 = [24,45,23,5,53]
print('list: ',list1)
list2=[]
for i in list1:
    for j in list1:
         for k in list1:
                list2.append([i]+[j]+[k])
print(list2)

list:  [24, 45, 23, 5, 53]
[[24, 24, 24], [24, 24, 45], [24, 24, 23], [24, 24, 5], [24, 24, 53], [24, 45, 24], [24, 45, 45], [24, 45, 23], [24, 45, 5], [24, 45, 53], [24, 23, 24], [24, 23, 45], [24, 23, 23], [24, 23, 5], [24, 23, 53], [24, 5, 24], [24, 5, 45], [24, 5, 23], [24, 5, 5], [24, 5, 53], [24, 53, 24], [24, 53, 45], [24, 53, 23], [24, 53, 5], [24, 53, 53], [45, 24, 24], [45, 24, 45], [45, 24, 23], [45, 24, 5], [45, 24, 53], [45, 45, 24], [45, 45, 45], [45, 45, 23], [45, 45, 5], [45, 45, 53], [45, 23, 24], [45, 23, 45], [45, 23, 23], [45, 23, 5], [45, 23, 53], [45, 5, 24], [45, 5, 45], [45, 5, 23], [45, 5, 5], [45, 5, 53], [45, 53, 24], [45, 53, 45], [45, 53, 23], [45, 53, 5], [45, 53, 53], [23, 24, 24], [23, 24, 45], [23, 24, 23], [23, 24, 5], [23, 24, 53], [23, 45, 24], [23, 45, 45], [23, 45, 23], [23, 45, 5], [23, 45, 53], [23, 23, 24], [23, 23, 45], [23, 23, 23], [23, 23, 5], [23, 23, 53], [23, 5, 24], [23, 5, 45], [23, 5, 23], [23, 5, 5], [23, 5, 53], [23, 53, 24], [23, 53, 45], [23, 53, 23], [23, 53, 5], [23, 53, 53], [5, 24, 24], [5, 24, 45], [5, 24, 23], [5, 24, 5], [5, 24, 53], [5, 45, 24], [5, 45, 45], [5, 45, 23], [5, 45, 5], [5, 45, 53], [5, 23, 24], [5, 23, 45], [5, 23, 23], [5, 23, 5], [5, 23, 53], [5, 5, 24], [5, 5, 45], [5, 5, 23], [5, 5, 5], [5, 5, 53], [5, 53, 24], [5, 53, 45], [5, 53, 23], [5, 53, 5], [5, 53, 53], [53, 24, 24], [53, 24, 45], [53, 24, 23], [53, 24, 5], [53, 24, 53], [53, 45, 24], [53, 45, 45], [53, 45, 23], [53, 45, 5], [53, 45, 53], [53, 23, 24], [53, 23, 45], [53, 23, 23], [53, 23, 5], [53, 23, 53], [53, 5, 24], [53, 5, 45], [53, 5, 23], [53, 5, 5], [53, 5, 53], [53, 53, 24], [53, 53, 45], [53, 53, 23], [53, 53, 5], [53, 53, 53]]

# Q.6) Write a python program to check whether two lists are circularly identical.

In [ ]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,7]
l1.extend(l1)
for i in range(len(l1)):
    if(l2==l1[i:i+len(l2)]):
        print("true")

# Q.7) Write a Python program to change the position of every n-th value with the (n+1)th in a list. 
#     Sample list: [0,1,2,3,4,5]   , Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
l = [0,1,2,3,4,5]
for i in range(0,len(lst),2):
  l[i],l[i+1]=l[i+1],l[i]
print(l)

[1, 0, 3, 2, 5, 4]

# Q.8) Write a Python program to iterate over two lists simultaneously.

In [ ]:
a = [1,3,4,56,78]
b = [3,6,7,39,8]
    
for i in range(len(a)):
 print(a[i]," ",b[i])

1   3
3   6
4   7
56   39
78   8

Write a Python program to generate the combinations of n
distinct objects taken from the elements of a given list. Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9] Combinations of 2

In [ ]:
l1= [1,2,3,4,5,6,7]
l2=[]
for i in l1:
  for j in l1:
    l3=[]
    if (i==j):
      pass
    elif i !=j:
      l3.append(i)
      l3.append(j)
      l2.append(l3)
print(l2)

[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [2, 1], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [3, 1], [3, 2], [3, 4], [3, 5], [3, 6], [3, 7], [4, 1], [4, 2], [4, 3], [4, 5], [4, 6], [4, 7], [5, 1], [5, 2], [5, 3], [5, 4], [5, 6], [5, 7], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 7], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6]]

# Q.10) Write a Python program to remove duplicates from a list of lists. 
#Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
#New List : [[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
l=[]
a = [[10,20],[40],[30,56,25],[10,20],[33],[40]]
for num in a:
  if num not in l:
    l.append(num)
print(l)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
t = (1,3)
d= 2*t
d

(1, 3, 1, 3)