Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from the second.

In [ ]:
a = [6,7,8,9,2,4,5]
b = [45,78,65,34,2,3]
even_list = []
odd_list = []

for i in range(len(a)):
  if i % 2 == 1:
    odd_list.append(a[i])
for i in range(len(b)):
  if i % 2 == 0:
    even_list.append(b[i])
print(" even index value : ", even_list)
print("odd index value :", odd_list)
c =[]
for i in odd_list:
  c.append(i)
for j in even_list:
  c.append(j)
print("Final list : ",c)

 even index value :  [45, 65, 2]
odd index value : [7, 9, 4]
Final list :  [7, 9, 4, 45, 65, 2]

Given a number count the total number of digits in a number

In [ ]:
a = input("enter the number ")
print("length of the number is:",len(a))

enter the number 3456
length of the number is: 4

Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
list1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9] 
for i in list1:
  if i%2==0:
    list1.remove(i)
print(list1)

[1, 3, 5, 7, 9]

Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and
30 (both included).

In [ ]:
b =[]
c = []
for i in range(1,31):
  b.append(i*i)
for j in range(len(b)):
  if j<5:
    c.append(b[j])

  elif j>25:
    c.append(b[j])
print(c)

[1, 4, 9, 16, 25, 729, 784, 841, 900]

Write a Python program to iterate over two lists simultaneously.

In [ ]:
a = [1,3,4,56,78]
b = [3,6,7,39,8]
    
for i in range(len(a)):
 print(a[i]," ",b[i])

1   3
3   6
4   7
56   39
78   8

Write a Python program to change the position of every n-th value with the (n+1)th in a list.

In [ ]:
a = [23,56,4,5,87,5,6,78]
print(a)
b = []
for i in range(0,len(a),2):
  a[i],a[i+1]=a[i+1],a[i]
print("the final list is: ",a)

[23, 56, 4, 5, 87, 5, 6, 78]
the final list is:  [56, 23, 5, 4, 5, 87, 78, 6]

Write a Python program to remove duplicates from a list of lists.

In [ ]:
list1=[[10,20],[40],[30,56,25],[10,20],[33]]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)

print(list2)

[[10, 20], [40], [30, 56, 25], [33]]

Write a python program to check whether two lists are circularly identical.

In [ ]:
list1=[1,2,3,4]
list2=[3,4,1,2]

list1.extend(list1)

for i in range(len(list1)):
    if(list2==list1[i:i+len(list2)]):
        print("true")

true

Write a Python program to generate the combinations of distinct objects taken from the elements of a given list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list2=[]
for i in list1:
  for j in list1:
    list3=[]
    if (i == j):
      pass
    elif i != j:
      list3.append(i)
      list3.append(j)
      list2.append(list3)
print("Combination of distinct elements are: ",list2)

Combination of distinct elements are:  [[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 1], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 1], [3, 2], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 1], [4, 2], [4, 3], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 1], [5, 2], [5, 3], [5, 4], [5, 6], [5, 7], [5, 8], [5, 9], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 7], [6, 8], [6, 9], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 8], [7, 9], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 9], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8]]

Write a Python program to generate all permutations of a list in Python.

In [ ]:
list1=[1,2,3]
print("original list: ",list1)
list2=[]
for i in list1:
    for j in list1:
         for k in list1:
                list2.append([i] + [j] + [k])
print("\n all possible permutation: ",list2)

original list:  [1, 2, 3]

 all possible permutation:  [[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]